@rendermode InteractiveServer
@page "/"
@attribute [StreamRendering]
@inject CartService CartService
@using System.Diagnostics
@using JamaisASec_Site.Models
@using BlazorBootstrap


<PageTitle>Home</PageTitle>

<h1>Notre Sélection de Vins : </h1>
@CartService.GetHashCode()


@if(Articles == null)
{
    <p>
        Loading....
    </p>
} else {
    <div class="container my-4">
        <div class="row">
            <div class="col" id="alert-area">
            </div>
        </div>
        <div class="row">
            @foreach (var article in Articles) {   
                <div class="col col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                    <Card Class="mb-4" Style="width:18rem;">
                        <CardBody>
                            <CardTitle>@article.nom</CardTitle>
                            <CardSubTitle Class="mb-2 text-muted">@article.famille.nom, @article.maison.nom</CardSubTitle>
                            <CardText>@article.description</CardText>
                            <button class="btn btn-primary" type="button" @onclick="() => AddToCart(article)">Ajouter au panier</button>
                        </CardBody>
                    </Card>
                </div>
            }
        </div>
    </div>
}


@code {
    private List<Article>? Articles;
    protected override async Task OnInitializedAsync()
    {
        var client = new ApiClient();
        Articles = await client.GetAsync<List<Article>>("Articles/get/all");


    }

    private void AddToCart(Article article)
    {
        
        CartService.addArticleToCart(article);
        
        Debug.WriteLine("Added " + article.nom);
        Debug.WriteLine(CartService.SelectedArticles.Count);
        
    }

}