@rendermode InteractiveServer
@page "/"
@attribute [StreamRendering]
@inject CartService CartService
@using System.Diagnostics
@using JamaisASec_Site.Models
@using BlazorBootstrap
@using JamaisASec_Site


<PageTitle>Home</PageTitle>

<h1>Notre Sélection de Vins : </h1>


<form @onsubmit="OnSearch">
    <p>
        search: <input type="text" @bind="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

@if(Articles == null)
{
    <p>
        Loading....
    </p>
} else {
    <div class="container my-4">
        <div class="row">
            <div class="col" id="alert-area">
            </div>
        </div>
        <div class="row">
            @foreach (var article in Articles) {   
                <div class="col col-lg-4 col-md-6 col-sm-12 col-12 mb-4">
                    <Card Class="mb-4" Style="width:18rem;">
                        <CardBody>
                            <CardTitle>@article.nom</CardTitle>
                            <CardSubTitle Class="mb-2 text-muted">@article.famille.nom, @article.maison.nom</CardSubTitle>
                            <CardText>@article.description</CardText>
                            <img src="Assets/@article.image" alt="@article.nom" class="img-fluid" />

                            <button class="btn btn-primary" type="button" @onclick="() => AddToCart(article)">Ajouter au panier</button>
                        </CardBody>
                    </Card>
                </div>
            }
        </div>
    </div>
}


@code {
    private List<Article>? Articles;
    private List<Article>? AllArticles;
    public string? SearchString { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var client = new ApiClient();
        AllArticles = await client.GetAsync<List<Article>>("Articles/get/all");
        Articles = AllArticles;
    }

    private void OnSearch()
    {
        if (!string.IsNullOrEmpty(SearchString))
        {
            Articles = AllArticles?.Where(s => s.nom.Contains(SearchString, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        else
        {
            Articles = AllArticles;
        }
    }



    private void AddToCart(Article article)
    {
        
        CartService.AddArticleToCart(article, article.quantite);
        
        Debug.WriteLine("Added " + article.nom);
        Debug.WriteLine(CartService.SelectedArticles.Count);
        
    }

}